button.sele {
  font-size: 19px;
  padding: 10px;
  cursor: pointer;
  background-color: rgb(54, 58, 79);
  color: hotpink;

  border: none;
  border-color: rgb(54, 58, 79);
  border-radius: 0.1em;
  outline-style: solid;

}

.calculadora-sele {
  display: grid;
  line-height: 0.5em;
  border-width: 1.2em; 
  font-size: 17px;
}

.calculadora-item {
  display: inline-grid;
  grid-template-row: 1.2fr 2fr 1fr;
}
.secc-batx-i-esp {
  grid-column-start: 1;
  grid-column-end: 2;
}
.secc-general {
  grid-column-start: 2;
  grid-column-end: 3;
}
.secc-resultats {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}

.nota-input {
  width: 10em;
  height: 1.5em;
  font-size: 12px;
}
.ponderacio-select {
  width: 10em;
  font-size: 12px;
}
.ponderacio-opcio, .ponderacio-opcions-select {
  font-size: 15px;
}

.anunci-resultat {
  font-size: 20px;
}
.resultat-del-calcul {
  font-size: 25px;
  font-weight: bold;
}

.ponderacio-opcions-select {
  border-radius: 0.4em;
  padding-left: 0.4em;
  padding-right: 0.4em;
}
