@font-face {
    font-family: 'HexRunes';
    /* src: url('/assets/fonts/Hexrunes-alsobin.ttf');  */
    /* src: url('/assets/fonts/HexRunes.ttf'); */
    src: url('/assets/fonts/TESTING-JetBrainsMono-Bold.ttf'); 
}

.hex {
    font-variant-ligatures: common-ligatures;
    font-family: 'HexRunes';
    font-weight: bold;
}
