
.irreg-text {
  font-size: 70px;
}

/* Les fletxetes get YOTE (altres buscadors) */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#potencia_a_equivalentar {
  display: inline-block; /* Que no col·lapsi el marge */
  margin-bottom: 0.5em;
}
#resultat {
  font-size: 50px;
  white-space: pre;
}

.text_conv {
  font-size: 70px;
  line-height: 1.3;
}

.irreg-input {
  -moz-appearance: textfield; /* Les fletxetes get YOTE (firefox) */
  border-style: solid;
  border-color:  #939ab7;
  background-color: #24273a;
  border-width: 2px;
  color: inherit;

  outline-color:  #8aadf4;
}

#irreg-enunciat {
  color: MediumTurquoise;
}
.irreg-input {
  font-size: 20px;
  width: 7em;
}

#list-import {
  border: dotted;
  padding: 0.1em 0.2em 0.2em 0.2em;
}

/*
.sortida_conv {
  font-size: 80px;
  width: 10em;
  color: #0DD370;
}
*/



