#entrada, #rangselec {
  -moz-appearance: textfield; /* Les fletxetes get YOTE (firefox) */
  border-style: solid;
  border-color:  #939ab7;
  background-color: #24273a;
  border-width: 2px;
  color: inherit;

  outline-color:  #8aadf4;

  font-size: 20px;
}

#rangselec {
    text-align: center;
}

#challenge {
    color: white;
    font-family: APL387;
}

#skipbutton {
    font-family: APL387;
}

