<div class="home-sidebar-area">
  <h1> Sidebar </h1>
  <a class="sidebar-link sidebar-button" href="#" class="sidebar-button">Games</a><br> <!-- TODO: Make link -->
  <a class="sidebar-link sidebar-button" href="#" class="sidebar-button">Utils</a><br> <!-- TODO: Make link -->
  <a class="sidebar-link sidebar-button"
     href=" https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/418"
     >Clicka'm</a><br> <!-- It's meant to look like a rickroll, actually isn't -->
   <a class="#" href="#" class="sidebar-button">Free Robux</a><br> <!-- TODO: Robux Generator -->
  <a class="sidebar-link sidebar-button" href="#" class="sidebar-button">Cat Pictures</a><br> <!-- TODO: Make link -->
</div>

