<div class="home-sidebar-area">
  <h1> Sidebar </h1>
  <ul class="sidebar-button-list">
  <li><a class="sidebar-button" href="#">Jocs cutres</a></li> <!-- TODO: Make link -->
  <!--<a class="sidebar-button" href="#">Utils</a><br> -->
  <li><a class="sidebar-button"
     href=" https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/418"
     >Clicka'm</a><br> <!-- It's meant to look like a rickroll, actually isn't -->
  <li><a class="sidebar-button" href="#">Free Robux</a></li> <!-- TODO: Robux Generator -->
  <li><a class="sidebar-button" href="#">Fotos de Gatets</a></li> <!-- TODO: Make link -->
  <li><a class="sidebar-button" href="#">Escolar</a></li> <!-- TODO: Make link -->
  </ul>
</div>

