<div class="home-sidebar-area home-grid-item">
  <h1> Sidebar </h1>
  <ul class="sidebar-button-list">
  <!--<a class="sidebar-button" href="#">Utils</a><br> -->
  <li><a class="sidebar-button"
     href=" https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/418"
     >Clicka'm</a><br> <!-- It's meant to look like a rickroll, actually isn't -->

  <li><a class="sidebar-button" href="#">Free Robux</a></li> <!-- TODO: Robux Generator -->

  <li><a class="sidebar-button" href="#">Fotos de Gatets</a></li> <!-- TODO: Make link -->

  <li>
  <div class="dropdown">
    <button class="dropbtn">Utils</button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </li>

  <li>
  <div class="dropdown">
    <button class="dropbtn">Jocs Cutres</button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </li>

  </ul>
</div>
