.sis-contingut {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 3em;
}

.left-side {
    display: grid;
}
.right-side {
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    row-gap: 1em;
}

.la-part-important {
    border: 0.5em ridge;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#info-box {
    border: 0.5em ridge;
    background-color: #181926;
    color: #cad3f5;
    width: 100%;
    font-size: 20px;
}

.show-internals {
    margin: 0;
    padding: 0;
}

#memory-information, #regs-box {
    background-color: #181926;
    height: 100%;
    width: 10em;
    color: inherit;
    border-right: solid;
}

.advance-btn {
    margin-top: 1em;
}

#entrades {
    border: 0.5em ridge;
    display: grid;
    color: inherit;
    grid-row: 1 / 3;

    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
}

.entrades-boxes {
    background-color: #181926;
    color: inherit;
}
