<div class="home-sidebar-area home-grid-item">
  <h1> Sidebar </h1>
  <ul class="sidebar-button-list">
    <li><a class="sidebar-button"
       href=" https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/418"
       >Clicka'm</a></li> <!-- It's meant to look like a rickroll, actually isn't -->

    <li><a class="sidebar-button" href="{{site.url}}/robux_generator">Free Robux</a></li> 

    <li><a class="sidebar-button" href="{{site.url}}/gatets">Fotos de Gatets</a></li>

    <li>
      <div class="dropdown">
        <a href="{{site.url}}/utils">
          <button class="dropbtn">Utils</button>
        </a>
        <div class="dropdown-content">
          <a href="{{site.url}}/utils/slavencies">Slavències</a>
          <a href="{{site.url}}/utils/logica_formal">Lògica</a>
        </div>
      </div>
    </li>

    <li>
      <div class="dropdown">
        <a href="{{site.url}}/jocs_cutres">
          <button class="dropbtn">Jocs Cutres</button>
        </a>
        <div class="dropdown-content">
          <a href="{{site.url}}/jocs_cutres/escacs">Escacs Anàrquics</a>
        </div>
      </div>
    </li>
    <li>
      <div class="dropdown">
        <a href="{{site.url}}/altres">
          <button class="dropbtn">Altres</button>
        </a>
        <div class="dropdown-content">
          <a href="{{site.url}}/altres/sim_gravetat">Simulador de Gravetat</a>
          <p>Zelda</p>
        </div>
      </div>
    </li>

    <li><a class="sidebar-button" href="{{site.url}}/quant_a">Quant a</a></li> <!-- TODO: Make link -->
  </ul>
</div>
