.report-404 {
  padding-left: 9em;
  min-width: 20em;

  grid-column-start: 1;
  grid-column-end: 2;

  grid-row-start: 2;
  grid-row-end: 3;
}

.video-404 {
  grid-column-start: 2;
  grid-column-end: 3;

  grid-row-start: 2;
  grid-row-end: 3;
}

.entire-404 {
  display: flex;
}

