#bogomult-source {
    display: flex;
    gap: 2em;
}

#bogomult-rust-outer, #bogomult-cpp-outer {
    background-color: rgb(30, 32, 48);
    max-width: fit-content;
    padding: 0em 2em 0em 2em; /* top right bottom left*/
}

#bogomult-rust-inner, #bogomult-cpp-inner {
    white-space: pre-wrap;
    margin-top: 0em;
    width: fit-content;
    height: fit-content;
    padding: 0em 0em 0em 0em; /* top right bottom left*/
}

.bogo-source-title {
    padding-bottom: 0em;
    margin-bottom: 0em;
}

.bogo-fn {
    color: rgb(138, 173, 244);
}

.bogo-idnt {
    /*color: rgb(166, 218, 149);*/
    color: rgb(237, 135, 150);
    /*color:rgb(198, 160, 246);*/
}

.bogo-type {
    color:#f5ab35;
}

.bogo-keyword {
    color: #c678dd;
}

.bogo-number {
    color: #d19a66;
}

.bogo-punctuation {
    color:#a5a2a2;
}

@media only screen and (max-width: 82em) {
    #bogomult-source {
        flex-direction: column;
        font-size: 13px;
    }
}
