/*
@font-face {
    font-family: 'Iosevka';
    src:url('/assets/fonts/Iosevka-Bold-Extended-112/Iosevka-Bold-Extended-112.woff') format('woff'),
        url('/assets/fonts/Iosevka-Bold-Extended-112/Iosevka-Bold-Extended-112.woff2') format('woff2'),
        url('/assets/fonts/Iosevka-Bold-Extended-112/Iosevka-Bold-Extended-112.svg#Iosevka-Bold-Extended-112') format('svg'),
        url('/assets/fonts/Iosevka-Bold-Extended-112/Iosevka-Bold-Extended-112.eot'),
        url('/assets/fonts/Iosevka-Bold-Extended-112/Iosevka-Bold-Extended-112.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Iosevka-Bold-Extended-112/Iosevka-Bold-Extended-112.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}*/
@font-face {
    font-family: 'APL387';
    src: url('/assets/fonts/APL387.woff2') format('woff2'),

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-size: 17px;
    background-color: rgb(54, 58, 79);
    color: white;
    font-family: APL387;
    font-weight: 800;
    height: 100%;
    overflow: visible; /*No scroll when cap tot*/
    display: grid;
}

button {
    font-size: inherit;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(54, 58, 79);
    color: hotpink;

    margin-top: 0.4em;
    border: none;
    border-color: rgb(54, 58, 79);
    border-radius: 0.1em;
    outline-style: solid;
}

#main-amatgil-title-heading {
    font-size: 2.3em;
    margin-top: 0.2em;
    margin-bottom: 0.4em;
    vertical-align: middle;
    max-height: 1em;
}

#main-amatgil-title {
    font-family: Iosevka;
    display: inline;
    width: fit-content;
    /*background: -webkit-linear-gradient(#000000BB, #A3A3A3BB, #FFFFFFBB, #800080BB);*/

    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    position: relative;
    vertical-align: middle;

    border-style: solid;
    border-width: 0.525em;
    border-radius: 1.3em;
    border-color: rgb(147, 154, 183);

    margin-left: 0.5em;
    margin-top: 1.2em;
    padding-left: 0.5em;
    padding-right: 0.8em;

}

#main-amatgil-title-text {
    color: white;
}

#main-amatgil-logo {
    align-items: center;
    justify-content: center;
    width: 1.3em;
}

h1 {
    line-height: 1.2em;
}

h1, h2, h3, h4, h5 {
    color: rgb(245, 169, 127);
    /*text-shadow: 2px 2px 0px rgb(36, 39, 58); */ /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
}

.main-content {
    color: rgb(183, 189, 248);
    max-width: 70em;
    line-height: 1.75em;
    overflow-wrap: break-word;

    grid-row-start: 1;
    grid-row-end: 2;

    grid-column-start: 2;
    grid-column-end: 3;

    margin-top: 1.4em; /*Align with sidebar title*/
}

.home-right-element {
    grid-row-start: 1;
    grid-row-end: 2;

    grid-column-start: 3;
    grid-column-end: 4;

    column-width: 3em;
}

.home-grid-container {
    display: grid;
    column-gap: 5em;
    margin-top:auto;

    grid-template-columns: min-content auto min-content; 
    grid-template-rows: auto min-content auto; 
    height: 100%;
    /*min-height: 100vh;*/
}


.ifunny-watermark {
    position: fixed;

    bottom: 0px;
    right: 0px;
    height: 10px;

    opacity: 0.3;
}

.loss {
    position: fixed;
    top: 0.4em;
    right: 0.4em;

    color: rgb(110, 115, 141);
    font-size: 0.5em;


    /* Don't show link */
    text-decoration: inherit;

    /* Don't compress whitespace */ 
    white-space: break-spaces;
}


.home-right-image {
    width: 14em;
}
.home-right-multiple-images {
    grid-column: 3 / 4;
    margin-right: 1em;
}

.very-light-mode {
    color: white !important;
    background-color: white !important;
}


/* Responsiveness */
@media screen and (max-width: 800px) {
    .home-sidebar-area {
        display: none;
    }
    /* Doesn't center :(
    #main-amatgil-title {
        margin: auto;
    }
   */
}
