#container-valors {
    display: grid;
    align-items: center;
    width: 25em;
}

.entrada-valor-text {
    font-size: 20px;
    margin-right: 1em;
}

.entrada-valor-input, #preset-select {
    font-size: 20px;
    -moz-appearance: textfield; /* Les fletxetes get YOTE (firefox) */
    border-style: solid;
    border-color:  #939ab7;
    background-color: #24273a;
    border-width: 2px;
    color: inherit;

    outline-color:  #8aadf4;
}
.entrada-valor-input {
    font-size: 20px;
    max-width: 12em;
    max-height: 2em;
    width: 7em;
    height: 1.5em;

}

#preset-select {
    margin-bottom: 2em;
    max-height: 2em;
    max-width: 15em;
    width: 12em;
}

#resultat-final {
    font-size: 20px;
}

#nota-final-tag {
    color: #ff8796;
    font-size: 18px;
}

#resultat-holder {
    margin-top: 2em;
    margin-bottom: 3em;
}
