
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.credit-entrada {
  text-align: center;
  display: inline;
}
.credit-entrada-camp {
	maxlength: 2;
  width: 4em;
  font-size: 1em;
}

.credit-boto {
  margin-top: 1em;
  font-size: 3em;
  vertical-align: middle;
  width: 6em;
}

.credit-content {
  display: flex;
  flex-direction: row;
  gap: 5em;
}

.content-principal {
  flex-basis: 90%;
  flex-shrink: 0;
}
.content-dreta {
  align-items: center;
}
