p.entrada_logica_formal {
}

#sortida-logica-formal {
  white-space: pre-wrap;
}

.entrada-logica-formal {
  width: 8em;
  font-size: 30px;
  height: 1em;
  padding: 0.5em 0em;
  margin: 1em 0;
  text-align: center;
}

button.generador_taula {
  font-size: 19px;
  padding: 10px;
  cursor: pointer;
  background-color: rgb(54, 58, 79);
  color: hotpink;

  border: none;
  border-color: rgb(54, 58, 79);
  border-radius: 0.1em;
  outline-style: solid;
}

.logica-grid {
  display: flex;
  column-gap: 6em;
  /*min-width: 100%;*/
  /*grid-template-columns: 40% 60%;*/
}
.logica-grid-item {
  /*display: inline-grid;*/
}

.logica-entrada {
  grid-column-start: 1;
  grid-column-end: 2;
}
.logica-sortida {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
