<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <!-- Verificació per google search -->
    <meta name="google-site-verification" content="P0y8IgeA8eNWQswgUCXevKpL7O9uLQIFhvczCyDBzVA" />
    <title>{{ site.title }} - {{ page.title }}</title>
    <script type="text/javascript" src="/assets/javascript/subpagines/home.js"></script>
    <link rel="stylesheet" href="/assets/css/home.css">
    <link rel="stylesheet" href="/assets/css/sidebar.css">
    <link rel="stylesheet" href="/assets/css/dropdowns.css">
    <link rel="stylesheet" href="/assets/css/404.css">
    <link rel="stylesheet" href="/assets/css/wasm.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="stylesheet" href="/assets/css/misc.css">
    <link rel="icon"       href="/assets/brand/favicon.ico" type="image/x-icon">
    <link
      href="/assets/brand/favicon-light-theme.ico"
      rel="icon"
      media="(prefers-color-scheme: light)"
      />
    <link
      href="/assets/brand/favicon-dark-theme.ico"
      rel="icon"
      media="(prefers-color-scheme: dark)"
      />
  </head>
  <header id="main-amatgil-title">
    <a href="{{site.url}}" style="text-decoration: none;">
      <h1 id="main-amatgil-title-heading">
        <span id="main-amatgil-title-text">{{site.title}}</span>
        <img id="main-amatgil-logo" src="/assets/brand/logo.png" alt="{My Logo, my name in the shape of a cat}">
      </h1> 
    </a>
  </header>
  <body>
    <main class="home-grid-container">
      {{ content }}
    </main>
  </body>
</html>

<script type="text/javascript">
  showAceFlag();
</script>
