---
layout: default
---

{% include always-present/sidebar.html %}

<script type="text/javascript" src="/assets/javascript/subpagines/home.js"></script>

<div class="main-content home-grid-item">
  {{ content }}
</div>

<div class="home-right-multiple-images home-grid-item">
  <img class= "home-right-image" src="/assets/imgs/man.jpg" alt="'man' horse at the sea">
  <img class= "home-right-image" src="/assets/imgs/man.jpg" alt="'man' horse at the sea">
  <img class= "home-right-image" src="/assets/imgs/man.jpg" alt="'man' horse at the sea">
</div>

<a href="https://www.youtube.com/watch?v=USE86UbsV8c" class="loss">|  ||<br>|| |-</a> <!-- Perquè per què no? -->
<img class="ifunny-watermark" src="/assets/imgs/ifunny.jpg" alt="ifunny.co">
