---
layout: default
---

{% include always-present/sidebar.html %}

<script type="text/javascript" src="/assets/javascript/subpagines/home.js"></script>

<main>
<strong>
Nota: Tingueu en compte que el lloc web està en Alpha, la majoria de pàgines no estan ni acabades ni polides.
</strong>

<p>L'àrea més interessant, de moment, és la secció d'útils (sobretot el s-IC-mulador), però la resta també està bé (segons la meva objectiva opinió).</p>

<p>S'hi accedeix amb els botons de la _sidebar_ de l'esquerra. T'invito a explorar-los, la idea és que tots siguin interessants a la seva manera.</p>
</main>

<aside class="home-right-multiple-images home-grid-item">
  <img class= "home-right-image" src="/assets/imgs/man.jpg" alt="'man' horse at the sea">
  <img class= "home-right-image" src="/assets/imgs/man.jpg" alt="'man' horse at the sea">
  <img class= "home-right-image" src="/assets/imgs/man.jpg" alt="'man' horse at the sea">
</aside>

<a href="https://www.youtube.com/watch?v=USE86UbsV8c" class="loss">|  ||<br>|| |-</a> <!-- Perquè per què no? -->
<img class="ifunny-watermark" src="/assets/imgs/ifunny.jpg" alt="ifunny.co">
